internes/
diagnostic/internes/modele-interne-diagnostic.html
diagnostic/internes/brouillon-client.html
praticiens/
indices/indices-outils.html
indices/indices-outils.js
indices-ultrapuissants/indices-ultrapuissants.html
indices-ultrapuissants/indices-ultrapuissants.js
indices-experts/
indices-experts/indices-experts.html
indices-experts/indices-experts.js